
.section1{
    width: 50%;
    background-color: green ;
    padding: 20px;
}

first{
         height: 100px;
         height:600px;
         width: 50%;
         border-radius: ;
         padding: 10px;
         margin:0;
}

.main{
      width: 1320px;
      max-width: 100%;
      margin: 0;
      display: flex;
      align-items: auto ;
      justify-content: space-around;
}


.section2{
    width: auto;
    background-color: green ;
    padding: 20px;
}

.main h1{
         padding: 20px;
         color: black;
         font-size: 19px;
         text-transform: capitalize;
}

.main p{
         color: black;
         border-outline: 1px;
         max-width: 100%;
         font-size: 18px;
         letter-spacing: 4px;
         line-height: 30px;
         margin-bottom: 35px;
         font-family: system-ui;
         padding: 10px;
}

.second{
        height:600px;
        width: 50% ;
        border-radius: ;
        padding: 10px;
        margin:0;
}

about{
    width: 800px;
    color: black;

}
